{% extends 'base.html' %}

{% block title %}Search{% endblock title %}

{% block content %}
    <!-- Khoj The Search Form Start -->
    <div class="container mt-50 mb-50">
        <div class="card">
            <form method="POST" class="row g-3">
                {% csrf_token %}
                <h1 class="mx-auto w-auto p-2">Login to your account</h1>
                <div class="form-floating mb-3">

                    {{form.email}}
                    {{ form.email.label_tag }}
                    <!--Show Error Inputs-->
                    {{form.email.errors}}
                        
                </div>
                <div class="form-floating">

                    {{form.password}}
                    {{ form.password.label_tag }}
                    <!--Show Error Inputs-->
                    {{form.password.errors}}

                </div>
   
                {% if message %}
                    <p class="mx-auto w-auto errorlist" >{{message}}</p>
                {% endif %}

                <div class="col-12">
                    <button class="btn" type="submit">Log In</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Khoj The Search Form End -->
{% endblock content %}