<!-- Main header start -->
<header>
    <!--NAVBAR-->
    <nav class="navbar navbar-light"">
        <!-- Navbar content -->
        <div class="container">
            <a class="logo" href="{% url 'home' %}">KHOJ THE SEARCH</a>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a
                            href="javascript:{document.getElementById('logout').submit()}"
                            class="nav-link">
                            Logout / {{user.name}}
                        </a>
                        <form action="{% url 'logout' %}" id="logout" method="POST">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}" cclass="nav-link">
                            Login
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}">
                            Register
                        </a>
                    </li>
                {% endif %}   
            </ul>
        </div>
    </nav>
</header>
<!-- Main header end -->